.navVerticalDivider {
    margin: 35px auto;
    visibility: hidden;
}

.navVerticalDivider ~ .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 120px);
    padding-top: 140px;
    overflow-y: scroll;
}