.navbar-expand-md .container > *:nth-child(3) {
    display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
}
.navbar-expand-md .container > *:nth-child(2) {
    flex-grow: 2;
}
.navbar-expand-md .dropdown {
    justify-content: flex-end !important;
}
.navbar form > * {
    margin: 0 2px;
}
.dropdown-item, .dropdown-toggle {
    cursor: pointer;
}