.navbar-expand-md .container > *:nth-child(3) {
    display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
}
.navbar-expand-md .container > *:nth-child(2) {
    flex-grow: 2;
}
.navbar-expand-md .dropdown {
    justify-content: flex-end !important;
}
.navbar form > * {
    margin: 0 2px;
}
.dropdown-item, .dropdown-toggle {
    cursor: pointer;
}
.nav-link.errors {
    visibility: hidden;
}
img {
    border: solid 1px #ffffff;
    display: inline;
}
.container > .row {
    width: 100%;
    align-items: center;
}
.navbar-brand {
    font-weight: 700;
    letter-spacing: -1px;
}
@media (max-width: 767px) {
    .col-md-0 {
        display: none;
    }
    .col-md-3 {
        width: 25% !important;
    }
    .col-md-4 {
        width: 33.3333% !important;
    }
    .col-md-6 {
        width: 50% !important;
    } 
    img {
        display: none;
    }
}
@media (min-width: 768px) {
    .col-lg-0 {
        display: none;
    }
    .col-lg-3 {
        width: 25% !important;
    }
    .col-lg-4 {
        width: 33.3333% !important;
    }
    .col-lg-6 {
        width: 50% !important;
    } 
}
