.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    /* flex-grow: 5; */
    justify-content: space-between;
}
.navbar form > * {
    margin: 0 2px;
}
.dropdown-item, .dropdown-toggle {
    cursor: pointer;
}